/** Tamaño general **/
html {
    font-size: 62.5%;
    /**reset para REMS - 62.5 = 10 px **/
}





button {
    margin-bottom: .2cm;
    width: 3cm;
    height: 1cm;
    background: hsl(0, 0%, 100%);
    border: 2px solid #ffffff;
}

button a:hover {
    color: rgb(255, 255, 255);
}

button a {
    text-decoration: none;
}



.contenedor {
    display: flex;
}

#portada {
    width: 70%;
}

#indice {
    width: 30%;
}



.fondo {
    background-image: url(fondo.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}


h1 {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 2.8rem;
    color: white;
}

h3 {
    font-size: 2.6rem;
    color: white;
}

.contenedor {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}


.barrainicio {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
}

.barraindice {
    display: flex;
    justify-content: center;
}

.barra2 {
    justify-content: flex-start;

}