html{
    font-size: 62.5%; /*reset para rems 62.5 = 10px*/
    box-sizing: border-box;  /*respetar pixeles*/
} 
*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'Noto Sans', sans-serif;/*ltras*/
    font-size: 1.6rem; /*etras de antes */
}

/** GLOBAL**/

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem; /*tomar lo min de la pantalla para centar(que cabe bien)*/
    margin-left: auto; /*margenes de la pag*/
    margin-right: auto; /*margen para centrar*/
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.7rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 2.1rem;
}


/**UTILIDADESssssssssssss**/

.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
text-align: center;
}

.d-block{
    display: block!important; /*boton más grande es importante*/
}


/*BOTONES*/

.boton{
color: #ffffff;
font-weight: 700;
text-decoration: none;
font-size: 1.8rem;
padding: 1rem 3rem; /*este no lo toma*/
margin-top: 3rem; /*este menos*/
display: inline-block; /*con este si lo deja*/ /*pero acorta boton*/
text-align: center;
}

.boton-azul{
background-color: #759eff;
}

.boton-naranja{
    background-color: #ffa43a;
}

/* HEADER */    
.site-header.inicio{
background-image: url(../Imagenes/fondotacos.png);
height: 100vh; /*para que se vea toda la imagen*/
min-height: 60rem; /*eset es para lo minimo de la ventana*/
background-position: center center;
background-size: cover; /*imagen centrada*/
}


.contenedor-header{
    display: flex;
    flex-direction: column; 
    height: 100%; /*tomar todo el contenido*/
    justify-content: space-between; /*direccion de contenido "este es al final" */
}

.contenedor-header h1{
    color: white;
    padding-bottom: 2rem; /*espacio de el final y título*/
    max-width: 60rem; /*es para el espacio*/
    line-height: 2;
}




.barra{/*ordenar elementos horizontalmente*/
    display: flex; /*sea flexible*/
    justify-content: flex-end; /*posicion del contenido*/
    padding-top: 4rem;
}



/*Navegación*/
.navegacion a{ /*la a es para los elementos*/
 color: white;
 text-decoration: none;
 font-size: 2rem;
 margin-right: 1rem;
}

.navegacion a:hover{
    color: #FFE433;
}

.navegacion a:last-of-type{ /*para que el último no tenga espacio*/
  margin: 0;
}

/**iconos nosotros**/

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 1rem);  /*para acomodar elementos porcentaje*/
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}

/*CONTENEDOR ANUNCIOS*/

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
}

.anuncio{
    flex-basis: calc(33.3% - 1rem);
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    background-color: #F5F5F5;
}

.contenido-anuncio{
    padding: 2rem;  /*separación de anuncio bordes*/
}

.contenido-anuncio{
    margin: 0; /*quitar espacio de título imagen*/
}

.contenido-anuncio h3, .contenido-anunciop{
margin: 0;
}

.precio{
    color: #ffa43a;
    font-weight: 700;
}

/*SUCURSAL*/

.imagen-sucursal{
    background-image: url(../Imagenes/sucursal.png);
    height: 30rem;
    background-position: center center; /*centrar*/
    background-size: cover; /*se vea toda imagen*/
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 1; /*divide todo y asigna los pixeles correspindientes*/
    color: white;
}
.contenido-contacto p{
    font-size: 1.8rem;
}



/**SECCIÓN INFERIOR**/

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.entrada-blog .imagen{
    flex-basis: 40%;
    padding: 0.5rem;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}

.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}

.texto-entrada a{
    color: black;
    text-decoration: none;
}

.texto-entrada h4::after{     /**línea negra**/
    content: '';
    display: block;
    width: auto;
    height: 0.2rem;
    background-color: black;
    margin-top: 1rem;
}

.texto-entrada span{
    color: rgb(0, 69, 219);
}

/**TESTIMONIALES**/

.testimonial{
    background-color: rgb(0, 69, 219);
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem ;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
}

.testimonial p{
    text-align: right;
}

/**FOTER**/

.site-footer{
    background-color: #313131;
    margin: 0;
}

.contenedor-footer{
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
}

.copyrigth{
    margin: 0;
    color: white;
    font-size: 1.6rem;
}


.navegacion2 a{ /*la a es para los elementos*/
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 1rem;
   }
   
   .navegacion2 a:hover{
       color: #000000;
   }
   
   .navegacion2 a:last-of-type{ /*para que el último no tenga espacio*/
     margin: 0;
   }



/**HEADER-NOTROS**/

.header-nosotros{
    background-color: #313131;
}


.barra-nosotros{/*ordenar elementos horizontalmente*/
    display: flex; /*sea flexible*/
    justify-content: flex-end; /*posicion del contenido*/
    padding: 2.5rem;
}

/** CONTENIDO-NOSOTROS**/

.seccion-nosotros{
    display: flex;
    justify-content: center;
}

.imagen-nosotros{
    flex-basis: calc(50% - 1rem);
}

.contenido-nosotros{
    flex-basis: 50%;
    padding-top: 2rem;
}