/*ESTILO DE REM*/
html {
    font-size: 62.5%;
}





/*H*/
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}

.contenedor {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.header-imagen{
    background-image: url(../Imagenes/Header.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 60rem;   
}

.header-contenido{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-contenido h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    /**para el espacio de la letra (cabe)**/
    line-height: 2;
    /** separacion de renglones**/
}



/** TEXTO**/

.navegacion a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover {
    color: #fffb00;
}

.navegacion a:last-of-type {
    margin: 0;
}
