#contenedor2 {
  width: 80%;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: Verdana;
}
#cabecera2 {
  width: 100%;
  background-color: green;
  text-align: center;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0 auto 10px auto;
}
#cuerpo2 {
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: #f5f5f5;
  overflow: hidden;
}
#izquierda2 {
  float: right;
  width: 300px;
  background-color: red;
  font: 10pt Verdana;
  text-align: center;
}
#derecha2 {
  margin: 0px 320px 0px 0px;
  background-color: #eeffff;
  font: 12pt Verdana;
  text-align: center;
}
#pie2 {
  background-color: yellow;
  margin: 10px 0 0 0;
  padding: 0 0 0 0px;
  text-align: center;
  clear: both;
  font: 8pt Verdana;
}
