#contenedor2 {
  width: 998 px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: Verdana;
}
#cabecera2 {
  width: 100%;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0 auto 10px auto;
}
#cuerpo2 {
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: #f5f5f5;
  overflow: hidden;
}
#izquierda2 {
  float: left;
  width: 180px;
  background-color: red;
  font: 10pt Verdana;
  text-align: center;
}
#centro2 {
  float: left;
  width: 60%;
  margin: 0px 0px 0px 10px;
  background-color: green;
  font: 12pt Verdana;
  text-align: justify;
}
#derecha2 {
  float: left;
  width: 18%;
  margin: 0px 0px 0px 10px;
  background-color: #0040ff;
  font: 10pt Verdana;
  text-align: center;
}
#pie2 {
  background-color: brown;
  margin: 10px 0 0 0;
  padding: 0 0 0 0px;
  text-align: center;
  clear: both;
  font: 8pt Verdana;
  color: yellow;
}
